@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-background {
  background-color: #005a53;
}
.custom-background2 {
  background-color: #5e9132;
}

/* En tu globals.css */
/* body {
  background: radial-gradient(circle at center, #1a1a1a 0%, #0a0a0a 100%);
} */